h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

hr {
  border-color: #cccccc;
}

table {
  font-size: 85%;
}

hr.large {
  margin-top: 7em;
  border-width: 1px;
}

.note span {
  padding-left: 20px;
}

.note {
  font-size: 80%;
}

.shiny-input-checkboxgroup {
  float: left;
}

.clear {
  display: block;
  clear: left;
}

.btn {
  margin: 0.5em;
  margin-left: 0;
}

.checkbox {
  font-size: 80%;
}

#authorship {
  color: #707070;
}

#obs {
  color: #428BCA;
  text-align: right;
}

/*A bad way to forcefully adjust table width*/
#textAnswer th:nth-child(1) {
  width: 10%;
}

#textAnswer th:nth-child(2) {
  width: 45%;
}

#textAnswer th:nth-child(3) {
  width: 45%;
}

#descCodec th:nth-child(1) {
  width: 110px;
}

#corCodec th:nth-child(1) {
  width: 110px;
}