h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

hr {
  border-color: #cccccc;
}

table {
  font-size: 85%;
}

hr.large {
  margin-top: 7em;
  border-width: 1px;
}

input.form-control {
  margin-left: 0.5em;
}

.note span {
  padding-left: 20px;
}

.note {
  font-size: 80%;
}

.shiny-input-checkboxgroup {
  float: left;
}

.clear {
  display: block;
  clear: left;
}

.btn {
  margin: 0.5em;
  margin-left: 0;
}

.checkbox {
  font-size: 80%;
}

.floatRight {
  float: right;
}

.ph {
  color: #C7C7C7;
}

.space_r {
  margin-right: 1em;
}

.space_l {
  margin-left: 1em;
}

.space_l4 {
  margin-left: 4em;
}

.space_t {
  margin-top: 1em;
}

.space_b {
  margin-bottom: 1em;
}

.inLine {
  display: inline-block;
}

/*Adjust slider bar size*/
.irs-bar {height: 8px;}
.irs-bar-edge {height: 8px; width: 8px;}
.irs-line {height: 8px;}
.irs-slider {width: 17px; height: 17px; margin-top: 3px}

#authorship {
  color: #707070;
  line-height: 160%;
  font-size: 90%;
}

#obs {
  color: #428BCA;
  text-align: right;
}

/*A bad way to forcefully adjust table width*/
#textAnswer th:nth-child(1) {
  width: 10%;
}

#textAnswer th:nth-child(2) {
  width: 45%;
}

#textAnswer th:nth-child(3) {
  width: 45%;
}

#descCodec th:nth-child(1) {
  width: 110px;
}

#corCodec th:nth-child(1) {
  width: 110px;
}